{% extends 'admin_app/admin_home.html' %}
{% block admin %}
{% if request.session.status %}
    <section class="section-welcome bg1-pattern p-t-120 p-b-105  m-l-r-auto">
		<div class="container">
			<div class="row">
				<div class="col-md-6 p-t-45 p-b-30">
					<div class="wrap-text-welcome t-center">
						<span class="tit2 t-center">
                            Country Name
						</span>
                        {% if city %}
                        <table border="1">
                            <tr>
                                <td width="150"> No</td>
                                <td width="250">City</td>
                                <td width="250">State</td>
                                <td width="250">Country</td>
                            </tr>
                            {% for x in city %}
                                <tr>
                                    <td>{{ x.region_id }}</td>
                                    <td>{{ x.city_name }}</td>
                                    <td>{{ x.state.state_name }}</td>
                                    <td>{{ x.country.country_name }}</td>

                                </tr>
                            {% endfor %}
                        </table>
                        {% else %}
                            <h2>No data found</h2>
                        {% endif %}

						<p class="t-center m-b-22 size3 m-l-r-auto">
                            You can write any message here
                        </p>

					</div>
				</div>

				<div class="col-md-6 p-b-30">
					<div class="wrap-pic-welcome size2 bo-rad-10 hov-img-zoom m-l-r-auto">
            <form method="POST">
                <h2 style="color: green; font-family:'Apple Chancery'">Add City Here</h2>
                {% csrf_token %}
                {{ cf }}<br>
                <center>
                <input type="submit" value="Submit" class="btn btn-success">
                <input type="reset" value="Clear" class="btn btn-danger"><br><br>
                    {% for x in messages %}
                        <h2>
                        {{ x }}
                        </h2>

                    {% endfor %}
                </center>
            </form>
					</div>
				</div>
			</div>
		</div>
	</section>





    {% else %}

        <h3 style="text-align: center;font-family: 'Agency FB';font-size: 25px;color: red">
            Please Do Login
        </h3>

    {% endif %}




{% endblock %}