{% load static %}
<html>
<head>
    <title>LoginForm</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4 mt-5">
            <br>
            <img style="{
            width:150px;
            height: 150px;
            border-radius: 50%;
            margin-left: auto;
            margin-right: auto;}" src="{% static 'images/4.png' %}">
        </div>

        <div class="col-md-3 mt-5">
            <form method="POST">
                <h2>Please Login</h2>
                {% csrf_token %}
                {{ lform }}<br>
                <center>
                <input type="submit" value="Login" class="btn btn-success">
                <input type="reset" value="Clear" class="btn btn-danger"><br>
                    <a href="#">Register Now</a>
                </center>
            </form>
        </div>
    </div>
</div>
{% for x in messages %}
    <h3 style="text-align: center">{{ x }}</h3>
{% endfor %}
</body>
</html>